.row
  .span4
    %h4 Connect Your Calendars
    .well.well-small
      Which calendars should we use to determine your availability?
    %ul
    = form_tag '/update_calendars' do |f|
      = hidden_field_tag "calendars[]", nil
      - @calendar_list.data.items.each do |calendar|
        %label.checkbox
          = check_box_tag "calendars[]", calendar.id, current_user.calendars.where(calendar_id: calendar.id).length > 0
          = calendar.summary
      = submit_tag "Save", class: "btn btn-primary"
  .span4
    %h4 Select Activities
    .well.well-small
      What activities would you like to schedule with your friends?
    %ul
    = form_for current_user do |f|
      = hidden_field_tag 'user[activity_ids][]', nil
      - @activities.each do |activity|
        %label.checkbox
          = check_box_tag "user[activity_ids][]", activity.id, current_user.activity_ids.include?(activity.id), id: dom_id(activity)
          = activity.name
      = submit_tag "Save", class: "btn btn-primary"
  .span4
    %h4 Invite Friends
    .well.well-small
      Invite your friends to start planning activities together.
    %ul
    - if current_user.contacts.length > 0
      = "#{current_user.contacts.length} Contacts"
      = link_to 'Update', 'contacts/gmail'
      %br
      %input.span4{"data-items" => "4", "data-provide" => "typeahead", "data-source" => "#{current_user.contacts.map(&:email)}", :style => "margin: 0 auto;", :type => "text"}/
    - else
      = link_to 'Get your Gmail contacts', 'contacts/gmail'
    = text_area_tag :message, "Hello friend!  Join Jupiter now!", class: "span4"
    = submit_tag "Send Invites", class: "btn btn-primary"