- if current_user
  %h1.page-title 
    .container
      Link Calendars

= render 'layouts/messages'

.container
  .row{style: 'margin-top: 30px;'}
    .span12
      .well.well-small
        %h4 Link Your Calendars
        Which calendars should we use to determine your availability?
      = form_tag '/update_calendars' do |f|
        = hidden_field_tag "calendars[]", nil
        - @calendar_list.data.items.each do |calendar|
          - if calendar.accessRole == "owner"
            %label.checkbox.calendar
              %i.icon-calendar
              = check_box_tag "calendars[]", calendar.id, current_user.calendars.where(calendar_id: calendar.id).length > 0
              = calendar.summary
        = submit_tag "Save", class: "btn btn-primary"
    

