.container
	.row
		.span12
			.well.center{style: "margin-top: 30px;"}
				%h1#headline
					You want to get together with friends.  
					%span.teal-text Let us plan it!
				- if @invite
					%p
						Sign up with Google to start planning activities with 
						= @invite.sender.name
				%div.cta
					= link_to "Sign Up With Google", "/auth/google_oauth2", class: 'red'
				%div
					= link_to "Shoot, I don't use Google", no_google_path
	.row.features
		.span3.feature
			%h4.center.teal	Link your calendars
			= image_tag 'step1.jpg'
		.span3.feature
			%h4.center.yellow Tell us what you like to do
			= image_tag 'step2.jpg'
		.span3.feature
			%h4.center.orange Invite friends
			= image_tag 'step3.jpg'
		.span3.feature
			%h4.center.purple Find times that work
			= image_tag 'step4.jpg'