%h1 Jupiter

- if current_user
  .row
    .span6
      %h4 Your calendars
      %ul
      - @calendar_list.data.items.each do |calendar|
        %label.checkbox
          = check_box_tag "select"
          = calendar.summary
    .span6
      %h4 Your contacts
      = "#{current_user.contacts.length} Contacts Found" if current_user.contacts
      %ul
      = link_to 'Get your contacts', 'contacts/gmail'
      - if current_user.contacts
        - current_user.contacts.each do |contact|
          %li
            - if contact[:name].present?
              = "<#{contact[:name]}> #{contact[:email]}"
            - else
              = contact[:email]