= render 'layouts/messages'
.container
  = render 'home/welcome'
  .row{style: 'margin-top: 30px;'}
    .span4
      %h4.center.step.step-inactive 1. Link your calendars
    .span4
      %h4.center.step.step-inactive 2. Choose activities
    .span4
      %h4.center.step.orange 3. Invite your friends
    .span12{style: 'border-top: 1px solid #9C81A0;'}
      %h4 Almost there! Invite your friends to start planning activities with them as soon as they join.
      .tab-content{style: 'border: 1px solid #f1f1f1;'}
        .tab-pane.active#invite-list
          %div{style: "padding: 5px;"}
            .row-fluid
              .span4
                - button_text = current_user.contacts.nil? ? "Import Contacts" : "Imported Contacts"
                = link_to button_text, "#import-contacts", data: {toggle: 'tab'}, class: 'btn', onclick: "_gaq.push(['_trackEvent', 'InviteFriends', 'Click', 'ImportContactsTab']);"
              .span4.center{style: 'line-height: 30px; font-weight: bold;'}
                Invite List
          %div{style: "padding: 5px; background: #F9F9F9; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;"}
            .alert.alert-error#invalid-email-error-message{style: 'margin-bottom: 5px; display: none;'} Please enter a valid email address
            = form_tag "#", id: "invite-email-form", remote: true, class: "no-margin" do
              .input-append{style: "margin: 0;"}
                = text_field_tag "email", '', class: "span10", id: "invite-email-field", placeholder: "Friend's Email", style: "margin: 0;"
                = submit_tag "Add Friend", class: 'btn btn-warning', id: "invite-email-button", onclick: "_gaq.push(['_trackEvent', 'InviteFriends', 'Click', 'AddFriendByEmail']);"
          %div#invite-list
            .some-content-related-div
              .slimscroll
                .well#no-invites.center{style: 'margin: 20px; color: #999;'}
                  %h3 Add friends by email or import your contacts to get started!
                = form_tag "/invitations/batch_create", id: "invites-form" do
                  %table.table.table-striped
        .tab-pane#import-contacts
          %div{style: "padding: 5px;"}
            .row-fluid
              .span4{style: "height: 30px;"}
                = link_to "", "#invite-list", id: "invite-btn", data: {toggle: 'tab'}, onclick: "_gaq.push(['_trackEvent', 'InviteFriends', 'Click', 'InviteListTab']);"
              .span4.center{style: 'line-height: 30px; font-weight: bold;'}
                Import Contacts
              .span4
          %div{style: "padding: 5px; background: #F9F9F9; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; height: 30px;"}
            .row-fluid
              - if current_user.contacts.nil?
                %div{style: "color: #999999;"}
                  %i.icon-lock
                  %span{style: "font-weight: bold; font-size: 16px;"} 
                    Securely Import Contacts
              - else
                .span4{style: 'line-height: 30px;'}
                  = image_tag 'gmail-logo.png'
                  = link_to 'Refresh', 'contacts/gmail', onclick: "_gaq.push(['_trackEvent', 'InviteFriends', 'Click', 'RefreshContacts']);"
                .span4.center
                  .row-fluid
                    = text_field_tag "search", '', class: "span10", id: "search-contacts", placeholder: "Search Contacts", style: "margin: 0;" unless current_user.contacts.nil?
                    = link_to raw("&times;"), "", class: "btn pull-right", id: "clear-search-contacts", onclick: "_gaq.push(['_trackEvent', 'InviteFriends', 'Click', 'ClearSearch']);"
                .span4
          - if current_user.contacts.nil?
            = link_to raw('<div class="gmail-import"><img src="assets/gmail-large.png" /></div>'), 'contacts/gmail'
          - else
            .some-content-related-div
              .slimscroll
                %table#contacts.table-condensed.table-striped{style: "table-layout: fixed; word-wrap: break-word;"}
                  - current_user.contacts.each do |contact|
                    - if contact[:email].length <= 50
                      %tr.contact
                        %td.name= contact[:name]
                        %td.email= contact[:email]
                        %td.button-cell{style: 'width: 80px;'}= link_to 'Add to List', "#", class: 'btn btn-mini invite-button', onclick: "_gaq.push(['_trackEvent', 'InviteFriends', 'Click', 'AddToList']);"
      %div{style: 'margin: 10px 0;'}
        = link_to "Previous", "/activities", class: "btn", onclick: "_gaq.push(['_trackEvent', 'InviteFriends', 'Click', 'Previous']);"
        = link_to "Send Invitations", "#", class: "btn btn-warning pull-right", id: "send-invites", onclick: "_gaq.push(['_trackEvent', 'InviteFriends', 'Click', 'SendInvites']);"
        = link_to "Done Inviting Friends", invitations_path, class: 'btn pull-right', style: "margin-right: 15px;", onclick: "_gaq.push(['_trackEvent', 'InviteFriends', 'Click', 'DoneInviting']);"