#user_nav
  .container
    .logo.pull-left= link_to image_tag('jupiter-logo.png', alt: "Jupiter"), root_url
    %h5.pull-right{style: "margin-top: 7px;"}
      - if current_user
        Hello,
        = succeed "" do
          %span{style: "margin-right: 20px;"}= current_user.name
        = link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-warning", onclick: "_gaq.push(['_trackEvent', 'Navigation', 'Click', 'SignOut']);"
      - else
        %span{style: "margin-right: 20px;"} Already have an account?
        = link_to "Sign in with Google", "/auth/google_oauth2", class: "btn btn-warning", onclick: "_gaq.push(['_trackEvent', 'Navigation', 'Click', 'SignInWithGoogle']);"
    .clearfix
    %hr