<!DOCTYPE html>
<html>
<head>
  <title>Jupiter</title>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrap">
    <!-- Begin page content -->
    <%= include_gon %>
		<%= render 'layouts/navigation' %>
		<%= yield %>
    <div id="push"></div>
  </div>
  <div id="footer">
    <div class="container" style="position: relative;">
    	<span id="copyright">&copy; 2013 Jupiter</span>
      <%= image_tag 'footer.jpg' %>
    </div>
  </div>


</body>
</html>
