<!DOCTYPE html>
<html>
<head>
  <title>Jupiter</title>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="shortcut icon" href="favicon.png">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrap">
    <!-- Begin page content -->
    <%= include_gon %>
		<%= render 'layouts/navigation' %>
		<%= yield %>
    <div id="push"></div>
  </div>
  <div id="footer">
    <div class="container" style="position: relative;">
    	<span id="copyright">&copy; 2013 Jupiter</span>
      <%= image_tag 'footer.jpg' %>
    </div>
  </div>

  <!-- UserVoice JavaScript SDK (only needed once on a page) -->
  <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/yFX6Jc38pzvPWCe9Kmn1mQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

  <!-- A tab to launch the Classic Widget -->
  <script>
  UserVoice = window.UserVoice || [];
  UserVoice.push(['showTab', 'classic_widget', {
    mode: 'feedback',
    primary_color: '#cc6d00',
    link_color: '#007dbf',
    forum_id: 205149,
    tab_label: 'Feedback',
    tab_color: '#f16920',
    tab_position: 'bottom-right',
    tab_inverted: false
  }]);
  </script>

<% if Rails.env.production? %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-40591702-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
<% end %>
</body>
</html>
