<!DOCTYPE html>
<html>
<head>
  <title>Jupiter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= include_gon %>
		<%= render 'layouts/navigation' %>

		<% if flash[:error] -%>
	  	<div class="container flash" style='margin: 20px auto;'>
				<div class='alert alert-error' style='margin: 0;'>
  				<%=h flash[:error] %>
		  	</div>
		  </div>
		<% end -%>
		<% if flash[:notice] -%>
	  	<div class="container flash" style='margin: 20px auto;'>
				<div class='alert alert-info' style='margin: 0;'>
  				<%=h flash[:notice] %>
		  	</div>
		  </div>
		<% end -%>
		<%= yield %>			
	</div>
</body>
</html>
